
Political Compass Project/authentication.txt
Political Compass Project/cookies.json
Political Compass Project/cookies.json
Political Compass Project/IGNOREcookies.json
Political Compass Project/source code/tweets.db
Political Compass Project/source code/IGNOREcookies.json
Political Compass Project/source code/authentication.txt
